$backgroundGrey: #F5F5F5;
$darkerGrey: #CCCCCC;
$searchFormColour: #707070;
$textColour: #333333;
$searchButtonTextColor: #939393;
$ArgosRed: #D42114;
$listBorderUnderline: #E4E4E4;
$boxShadow: #FDFDFD;