@import url(https://fonts.googleapis.com/css?family=Barlow:400,600);
body {
  margin: 0px;
  font-family: Barlow, Arial, Helvetica;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style-type: none;
}

#header-border {
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

#top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #F5F5F5;
  padding: 5px 20px 5px 20px;
}

#logged-in {
  visibility: hidden;
}

.line-break {
  color: #CCCCCC;
  padding-left: 20px;
  padding-right: 20px;
}

.top-bar-header-icons {
  padding-right: 16px;
}

form {
  margin: 0px;
}

#bottom-header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#bottom-header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 60px;
}

#bottom-header form [type="search"] {
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #939393;
  width: 100%;
  margin-left: -40px;
  font-style: italic;
  position: relative;
  z-index: 1;
  padding-left: 40px;
  border-right: none;
}

#bottom-header form [type="search"]:hover {
  background-color: #F5F5F5;
}

#bottom-header form [name="main-search-button"] {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #707070;
  color: #F5F5F5;
  margin-right: 40px;
  font-weight: 600;
}

#bottom-header form [name="main-search-button"]:hover {
  background-color: #333333;
}

#argos-logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 70px;
  height: 60px;
  padding-right: 10px;
}

#argos-logo-container {
  margin-right: 20px;
}

#right-cta-bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

#right-cta-bottom-header > * {
  margin-left: 5px;
  margin-right: 5px;
}

#left-cta-bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 40px;
}

#megaNav {
  position: relative;
}

#gridIdentifier {
  position: absolute;
  left: -120px;
  top: -5px;
  z-index: 1000;
  -webkit-box-shadow: 10px 30px 10px #FDFDFD;
          box-shadow: 10px 30px 10px #FDFDFD;
  width: 96vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  padding-top: 35px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  padding-right: 20px;
  margin: 0;
}

#gridIdentifier h1 {
  margin-left: 20px;
  margin-bottom: 0;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}

#column1 ul {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

#column1 ul li {
  border-bottom: 1px solid #E4E4E4;
  padding: 15px 0px 15px 10px;
  text-align: left;
}

#column1 ul li:hover {
  background-color: #F5F5F5;
}

#column1 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#column1 ul li a svg {
  float: right;
  margin-top: 2px;
}

#column2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
}

.otherColumn {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
}

.otherColumn h3 {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 10px;
  margin-top: 10px;
}

.otherColumn ul {
  padding-left: 0;
  padding-bottom: 10px;
}

.otherColumn ul li {
  padding-bottom: 6px;
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 55px;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}

#shop-hidden-for-non-mobile {
  display: none;
}

.bottom-header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#bottom-header form > * {
  padding: 10px;
  border-color: #707070;
  border-width: 1px;
  height: 45px;
  font-family: Barlow, Arial, Helvetica;
  font-size: 16px;
}

#search-text {
  font-weight: 800;
}

#cancel-search-button {
  background-color: #FFF;
  border: none;
  border-radius: 50%;
  height: 17px !important;
  width: 17px !important;
  position: relative;
  z-index: 3;
  right: 140px;
  visibility: hidden;
}

#cancel-search-button svg {
  position: relative;
  z-index: 3;
  right: 10px;
  bottom: 10px;
  display: none;
}

[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#search-looking-glass-input {
  position: relative;
  z-index: 2;
}

#search-looking-glass-button {
  display: none;
}

@media (max-width: 767px) {
  #top-bar {
    display: none;
  }
  #left-cta-bottom-header {
    display: none;
  }
  #bottom-header {
    padding-left: 10px;
    padding-top: 15px;
  }
  #bottom-header form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    top: 60px;
    width: 95%;
    margin-right: 30px;
  }
  #bottom-header form [type="search"] {
    margin-left: 0px;
    padding-left: 10px;
  }
  #bottom-header form [name="main-search-button"] {
    margin-right: -10px;
  }
  #shop-hidden-for-non-mobile {
    display: inline;
  }
  #argos-logo {
    height: 42px;
    width: 49px;
  }
  #argos-logo-container {
    max-width: 487px;
    width: 100%;
  }
  #header-border {
    height: 120px;
  }
  #right-cta-bottom-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 240px;
    max-width: 240px;
  }
  #megaNav {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #header-border {
    height: 165px;
  }
  #argos-logo {
    width: 60px;
    height: 51px;
  }
  #bottom-header {
    position: relative;
    height: 51px;
  }
  #bottom-header form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 400px;
    max-width: 1200px;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #right-cta-bottom-header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 210px;
  }
  #left-cta-bottom-header {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    height: 65px;
    position: absolute;
    top: 70px;
    left: 5px;
    max-width: 342px;
  }
}

@media (max-width: 991px) {
  #search-looking-glass-button {
    display: block;
  }
  #search-text {
    display: none;
  }
  button {
    height: 38px;
  }
  #search-looking-glass-input {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #bottom-header form [type="search"] {
    margin-left: 30px;
    padding-left: 10px;
  }
  #identifier {
    top: 70px;
    width: 95.5vw;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #bottom-header form [type="search"] {
    margin-left: 20px;
    padding-left: 40px;
  }
  #search-looking-glass-input {
    left: 60px;
  }
  #argos-logo-container {
    margin-right: 0px;
  }
  #identifier {
    left: -100px;
    top: 70px;
  }
}

#shop-arrow {
  position: relative;
  margin-top: 4px;
  margin-left: 6px;
}

#shop-arrow-container #shop-arrow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#shop-arrow-container:hover #shop-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.red-underline-on-hover:after {
  content: "";
  display: block;
  border-bottom: 2px solid #d42114;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
}

.red-underline-on-hover:hover:after, .red-underline-on-hover:active:after, .red-underline-on-hover:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.red-on-hover:hover > * {
  color: #D42114;
  fill: #D42114;
}

input:focus::-webkit-input-placeholder {
  visibility: "";
}

input:focus:-ms-input-placeholder {
  visibility: "";
}

input:focus::-ms-input-placeholder {
  visibility: "";
}

input:focus::placeholder {
  visibility: "";
}

.underline-on-hover:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}
/*# sourceMappingURL=Argos_header.css.map */